body {
    background-image: url('https://i.pinimg.com/originals/65/2f/b6/652fb6288018269220c00eeae1e5b831.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
}

textarea {
    width: 300px;
    height: 150px;
}

button {
    height: 50px;
    width: 50px;
    margin: 10px;
}

#text-style {
    font-size: large;
    text-align: left;
}

.header {
    color: purple;
}